.ilustracao {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 130px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;

}
    

.botao-exercicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;

}